<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="itemFormFields(editMode)">
  <div class="form-group" th:if="${editMode}">
    <label for="formIdEditItem" class="form-label">Id</label>
    <input required type="text" id="formIdEditItem" name="id" value="0" class="form-control mb-4 col-4" readonly/>
  </div>

  <div class="form-group">
    <label th:for="${editMode ? 'formNameEditItem' : 'formNameAddItem'}" class="form-label">Name</label>
    <input required type="text" th:id="${editMode ? 'formNameEditItem' : 'formNameAddItem'}" name="name" placeholder="Name"
           class="form-control mb-4 col-4"/>
  </div>
  <div class="form-group">
    <label th:for="${editMode ? 'formTypeEditItem' : 'formTypeAddItem'}" class="form-label">Type</label>
    <input required type="text" th:id="${editMode ? 'formTypeEditItem' : 'formTypeAddItem'}" name="type" placeholder="Type"
           class="form-control mb-4 col-4"/>
  </div>
  <div class="form-group" th:if="${editMode}">
    <label for="formCountEditItem" class="form-label">Count</label>
    <input required type="number" id="formCountEditItem" name="count" placeholder="0"
           class="form-control mb-4 col-4"/>
  </div>
  <div class="form-group">
    <label th:for="${editMode ? 'formCostEditItem' : 'formCostAddItem'}" class="form-label">Cost Per Unit</label>
    <input required type="number" step="0.01" th:id="${editMode ? 'formCostEditItem' : 'formCostAddItem'}" name="costPerUnit" placeholder="0.00"
           class="form-control mb-4 col-4"/>
  </div>
</div>


<div th:fragment="productFormFields(editMode)">
  <div class="form-group" th:if="${editMode}">
    <label for="formIdEditProduct" class="form-label">Id</label>
    <input required type="text" id="formIdEditProduct" name="id" value="0"
           class="form-control mb-4 col-4" readonly/>
  </div>

  <div class="form-group">
    <label th:for="${editMode ? 'formNameEditProduct' : 'formNameAddProduct'}" class="form-label">Name</label>
    <input required type="text" th:id="${editMode ? 'formNameEditProduct' : 'formNameAddProduct'}" name="name" placeholder="Name"
           class="form-control mb-4 col-4"/>
  </div>
  <div class="form-group">
    <label th:for="${editMode ? 'formTypeEditProduct' : 'formTypeAddProduct'}" class="form-label">Type</label>
    <input required type="text" th:id="${editMode ? 'formTypeEditProduct' : 'formTypeAddProduct'}" name="type" placeholder="Type"
           class="form-control mb-4 col-4"/>
  </div>
  <div class="form-group">
    <label th:for="${editMode ? 'formInStoreStockEditProduct' : 'formInStoreStockAddProduct'}" class="form-label">In Store Stock</label>
    <input required type="number" th:id="${editMode ? 'formInStoreStockEditProduct' : 'formInStoreStockAddProduct'}" name="inStoreStock" placeholder="0"
           class="form-control mb-4 col-4"/>
  </div>
  <div class="form-group">
    <label th:for="${editMode ? 'formOnlineStoreStockEditProduct' : 'formOnlineStoreStockAddProduct'}" class="form-label">Online Stock</label>
    <input required type="number" th:id="${editMode ? 'formOnlineStoreStockEditProduct' : 'formOnlineStoreStockAddProduct'}" name="onlineStock" placeholder="0"
           class="form-control mb-4 col-4"/>
  </div>
  <div class="form-group">
    <label th:for="${editMode ? 'formBackStockEditProduct' : 'formBackStockAddProduct'}" class="form-label">Back Stock</label>
    <input required type="number" th:id="${editMode ? 'formBackStockEditProduct' : 'formBackStockAddProduct'}" name="backStock" placeholder="0"
           class="form-control mb-4 col-4"/>
  </div>
  <div class="form-group">
    <label th:for="${editMode ? 'formInStorePriceEditProduct' : 'formInStorePriceAddProduct'}" class="form-label">In Store Price</label>
    <input required type="number" step="0.01" th:id="${editMode ? 'formInStorePriceEditProduct' : 'formInStorePriceAddProduct'}" name="inStorePrice" placeholder="0.00"
           class="form-control mb-4 col-4"/>
  </div>
  <div class="form-group">
    <label th:for="${editMode ? 'formOnlinePriceEditProduct' : 'formOnlinePriceAddProduct'}" class="form-label">Online Price</label>
    <input required type="number" step="0.01" th:id="${editMode ? 'formOnlinePriceEditProduct' : 'formOnlinePriceAddProduct'}" name="onlinePrice" placeholder="0.00"
           class="form-control mb-4 col-4"/>
  </div>
</div>

<div th:fragment="saleFormFields(editMode)">
  <div class="form-group" th:if="${editMode}">
    <label for="formIdEditSale" class="form-label">Id</label>
    <input required type="text" id="formIdEditSale" name="id" value="0" class="form-control mb-4 col-4" readonly/>
  </div>
  <div class="form-group">
    <label th:for="${editMode ? 'formSaleDateEditSale' : 'formSaleDateAddSale'}" class="form-label">Sale Date (MM-DD-YYYY)</label>
    <input required type="text" th:id="${editMode ? 'formSaleDateEditSale' : 'formSaleDateAddSale'}" name="saleDate" placeholder="MM-DD-YYYY"
           class="form-control mb-4 col-4" pattern="(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])-(19|20)\d\d" />
  </div>
  <div class="form-group">
    <label th:for="${editMode ? 'formNameEditSale' : 'formNameAddSale'}" class="form-label">Name</label>
    <input required type="text" th:id="${editMode ? 'formNameEditSale' : 'formNameAddSale'}" name="name" placeholder="Name"
           class="form-control mb-4 col-4"/>
  </div>
  <div class="form-group">
    <label th:for="${editMode ? 'formTypeEditSale' : 'formTypeAddSale'}" class="form-label">Type</label>
    <input required type="text" th:id="${editMode ? 'formTypeEditSale' : 'formTypeAddSale'}" name="type" placeholder="Type"
           class="form-control mb-4 col-4"/>
  </div>
  <div class="form-group">
    <label th:for="${editMode ? 'formCountEditSale' : 'formCountAddSale'}" class="form-label">Count</label>
    <input required type="number" th:id="${editMode ? 'formCountEditSale' : 'formCountAddSale'}" name="count" placeholder="0"
           class="form-control mb-4 col-4"/>
  </div>
  <div class="form-group">
    <label th:for="${editMode ? 'formLocationEditSale' : 'formLocationAddSale'}" class="form-label">Name</label>
    <input required type="text" th:id="${editMode ? 'formLocationEditSale' : 'formLocationAddSale'}" name="location" placeholder="Location"
           class="form-control mb-4 col-4"/>
  </div>
  <div class="form-group">
    <label th:for="${editMode ? 'formCostEditSale' : 'formCostAddSale'}" class="form-label">Cost</label>
    <input required type="number" step="0.01" th:id="${editMode ? 'formCostEditSale' : 'formCostAddSale'}" name="cost" placeholder="0.00"
           class="form-control mb-4 col-4"/>
  </div>
  <div class="form-group">
    <label th:for="${editMode ? 'formSalePriceEditSale' : 'formSalePriceAddSale'}" class="form-label">Sale Price</label>
    <input required type="number" step="0.01" th:id="${editMode ? 'formSalePriceEditSale' : 'formSalePriceAddSale'}" name="salePrice" placeholder="0.00"
           class="form-control mb-4 col-4"/>
  </div>
</div>

</body>
</html>