<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:text="${@environment.getProperty('homepage.title')}">AppTitle</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${currentPage == 'material' ? 'active' : ''}"
                           th:aria-current="${currentPage == 'material' ? 'page' : null}"
                           th:href="@{/}">Material Inventory</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${currentPage == 'product' ? 'active' : ''}"
                           th:aria-current="${currentPage == 'product' ? 'page' : null}"
                           th:href="@{/product/}">Product Inventory</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${currentPage == 'sales' ? 'active' : ''}"
                           th:aria-current="${currentPage == 'sales' ? 'page' : null}"
                           th:href="@{/sales/}">Sales</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>