<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:text="${@environment.getProperty('homepage.title')} + 'Product Inventory'"/>
        <!--suppress JSUnresolvedLibraryURL -->
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
              integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
              crossorigin="anonymous">
        <!--suppress JSUnresolvedLibraryURL -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
        <!--suppress JSUnresolvedLibraryURL -->
        <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
        <!--suppress JSUnresolvedLibraryURL -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous">

        </script>
        <script type="module" src="/js/sort.js"></script>
        <script type="module" src="/js/product-action.js"></script>
    </head>
    <body>
        <div th:replace="~{fragments/header :: header}"></div>
        <div class="title-container">
            <div class="title-logo">
                <img class="logo" th:src="@{../images/logo.png}" alt="logo"/>
            </div>
            <div class="title-text">
                <h1 th:text="${@environment.getProperty('homepage.title')}"/>
                <h1>Product Inventory</h1>
            </div>
        </div>
        <div class="container my-2">
            <div class="d-flex justify-content-between">
                <div class = "col-sm-1"></div>
                <div class= "w-100">
                    <div th:replace="~{fragments/search :: searchBar(
                         keyword=${keyword},
                         sortField=${sortField},
                         sortDirection=${sortDirection},
                         pageSize=${page != null ? page.size : pageSize},
                         formActionPath=@{'/product/page'},
                         clearActionPath=@{'/product/'},
                         placeholderText='Search Products...'
                     )}">
                    </div>
                </div>
                <div class="col-sm-2 mt-2">
                    <button type="button" class="btn btn-primary btn-md mb-3 btn-right" data-bs-toggle="modal"
                            data-bs-target="#addProductModal">
                        Add Product
                    </button>
                </div>
            </div>
            <table class="table table-sm table-striped table-responsive table-bordered border-dark">
                <thead class="table-dark">
                <div id="sortData"
                     th:data-page-number="${page.number + 1}"
                     th:data-page-size="${page.size}"
                     th:data-keyword="${keyword}"
                     th:data-base-path="@{/product/page}"
                     th:data-sort-field="${sortField}"
                     th:data-sort-direction="${sortDirection}" >
                </div>
                    <tr>
                        <th>Name
                            <a href="#" class="sort-link btn btn-secondary dropdown-toggle btn-sm
                            mb-3 btn-right" data-column="name"></a></th>
                        <th>Type
                            <a href="#" class="sort-link btn btn-secondary dropdown-toggle btn-sm mb-3
                                    btn-right" data-column="type"></a></th>
                        <th>In Store Stock
                            <a href="#" class="sort-link btn btn-secondary dropdown-toggle
                            btn-sm mb-3 btn-right" data-column="inStoreStock"></a></th>
                        <th>Online Stock
                            <a href="#" class="sort-link btn btn-secondary dropdown-toggle
                            btn-sm mb-3 btn-right" data-column="onlineStock"></a></th>
                        <th>Back Stock
                            <a href="#" class="sort-link btn btn-secondary dropdown-toggle
                            btn-sm mb-3 btn-right" data-column="backStock"></a></th>
                        <th class="align-top">Total Stock
                            </th>
                        <th>In Store Price
                            <a href="#" class="sort-link btn btn-secondary dropdown-toggle
                            btn-sm mb-3 btn-right" data-column="inStorePrice"></a></th>
                        <th>Online Price
                            <a href="#" class="sort-link btn btn-secondary dropdown-toggle
                            btn-sm mb-3 btn-right" data-column="onlinePrice"></a></th>
                        <th class="column col-sm-2 align-top">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.id}" hidden/>
                        <td th:text="${product.name}"/>
                        <td th:text="${product.type}"/>
                        <td th:text="${product.inStoreStock}"/>
                        <td th:text="${product.onlineStock}"/>
                        <td th:text="${product.backStock}"/>
                        <td th:text="${product.inStoreStock} + ${product.onlineStock} + ${product.backStock}"/>
                        <td th:text="'$'+ ${product.inStorePrice}"/>
                        <td th:text="'$'+ ${product.onlinePrice}"/>
                        <td>
                            <a th:href="@{/product/getProduct/__${product.id}__}"
                               class="btn btn-warning btn-sm mb-3 text-white me-3 btn-edit" data-bs-toggle="modal"
                               data-bs-target="#editProductModal">Edit</a>
                            <a th:href="@{/product/getProduct/__${product.id}__}" class="btn btn-danger btn-sm mb-3 btn-delete"   th:attr="data-product-id=${product.id}, data-product-name=${product.name}" data-bs-toggle="modal"
                               data-bs-target="#deleteProductModal">Delete</a> </td>
                    </tr>
                </tbody>
            </table>
            <div th:replace="~{fragments/pagination :: paginationNav(
             page=${page},  sortField=${sortField},
             sortDirection=${sortDirection},
             keyword=${keyword},
             basePath=@{'/product/page'} )}">
            </div>
        </div>
        <div th:replace="~{fragments/modals :: formModal(
        modalId='addProductModal',
        modalTitle='Add Product',
        formAction=@{/product/addProduct},
        formMethod='POST',
        formBodyFragmentRef=~{fragments/forms :: productFormFields(editMode=false)}
     )}">
        </div>

        <div th:replace="~{fragments/modals :: formModal(
        modalId='editProductModal',
        modalTitle='Edit Product',
        formAction=@{/product/editProduct},
        formMethod='POST',
        formBodyFragmentRef=~{fragments/forms :: productFormFields(editMode=true)}
     )}">
        </div>

        <div th:replace="~{fragments/modals :: deleteConfirmModal(
        modalId='deleteProductModal',
        modalTitle='Delete Product',
        messageId='messageDeleteProduct',
        formAction=@{/product/deleteProduct},
        formMethod='POST',
        formInputId='formIdDeleteProduct'
     )}">
        </div>
    </body>
</html>