<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common-head :: headContent(
                pageTitle='Sales',
                pageSpecificScripts=~{:: #page-scripts}
            )}">
</head>
<body>
<th:block id="page-scripts">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>
    <script type="module" src="/js/inventory-action.js"></script>
    <script type="module" src="/js/chart.js"></script>
</th:block>
<div th:replace="~{fragments/nav :: header}"></div>
<div class="title-container">
    <div class="title-logo">
        <img class="logo" th:src="@{/images/logo.png}" alt="logo"/>
    </div>
    <div class="title-text">
        <h1 th:text="${@environment.getProperty('homepage.title')}"/>
        <h1>Sales</h1>
    </div>
</div>
<div id="sortData"
     th:data-page-number="${page.number + 1}"
     th:data-page-size="${page.size}"
     th:data-keyword="${keyword}"
     th:data-base-path="@{/sales/page}"
     th:data-sort-field="${sortField}"
     th:data-sort-direction="${sortDirection}">
</div>
<main>
    <div class="container my-2">
        <div class="d-flex justify-content-between">
            <div class="col-sm-1"></div>
            <div class="w-100">
                <div th:replace="~{fragments/search :: searchBar(
                     keyword=${keyword},
                     sortField=${sortField},
                     sortDirection=${sortDirection},
                     pageSize=${page != null ? page.size : pageSize},
                     formActionPath=@{'/sales/page'},
                     clearActionPath=@{'/sales/'},
                     placeholderText='Search Sales...'
                 )}">
                </div>
            </div>
            <div class="col-sm-1 mt-2">
                <button class="btn btn-primary btn-md mb-3 btn-right" data-bs-toggle="modal"
                        data-bs-target="#addItemModal">
                    Add Item
                </button>
            </div>
        </div>
        <div class="container my-2">
            <div class="row">
                <!-- Table Column -->
                <div class="col-md-8">
                    <table class="table table-sm table-striped table-responsive table-bordered border-dark">
                        <thead class="table-dark">
                        <tr>
                            <th>
                                <div class="d-flex justify-content-between align-items-center w-100"><span>Sale Date</span>
                                    <div class="btn-group sort-btn">
                                        <button type="button" class="btn btn-sm btn-light sort-link"
                                                th:data-column="'saleDate'"
                                                th:aria-label="'Sort by Sale Date'">
                                            <i class="fas fa-sort"></i>
                                        </button>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="d-flex justify-content-between align-items-center w-100"><span>Name</span>
                                    <div class="btn-group sort-btn">
                                        <button type="button" class="btn btn-sm btn-light sort-link"
                                                th:data-column="'name'"
                                                th:aria-label="'Sort by Name'">
                                            <i class="fas fa-sort"></i>
                                        </button>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="d-flex justify-content-between align-items-center w-100"><span>Type</span>
                                    <div class="btn-group sort-btn">
                                        <button type="button" class="btn btn-sm btn-light sort-link"
                                                th:data-column="'type'"
                                                th:aria-label="'Sort by Type'">
                                            <i class="fas fa-sort"></i>
                                        </button>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="d-flex justify-content-between align-items-center w-100"><span>Count</span>
                                    <div class="btn-group sort-btn">
                                        <button type="button" class="btn btn-sm btn-light sort-link"
                                                th:data-column="'count'"
                                                th:aria-label="'Sort by Count'">
                                            <i class="fas fa-sort"></i>
                                        </button>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="d-flex justify-content-between align-items-center w-100"><span>Location</span>
                                    <div class="btn-group sort-btn">
                                        <button type="button" class="btn btn-sm btn-light sort-link"
                                                th:data-column="'location'"
                                                th:aria-label="'Sort by Location'">
                                            <i class="fas fa-sort"></i>
                                        </button>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="d-flex justify-content-between align-items-center w-100">
                                    <span>Cost</span>
                                    <div class="btn-group sort-btn">
                                        <button type="button" class="btn btn-sm btn-light sort-link"
                                                th:data-column="'cost'"
                                                th:aria-label="'Sort by Cost'">
                                            <i class="fas fa-sort"></i>
                                        </button>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="d-flex justify-content-between align-items-center w-100"><span>Sale Price</span>
                                    <div class="btn-group sort-btn">
                                        <button type="button" class="btn btn-sm btn-light sort-link"
                                                th:data-column="'salePrice'"
                                                th:aria-label="'Sort by Sale Price'">
                                            <i class="fas fa-sort"></i>
                                        </button>
                                    </div>
                                </div>
                            </th>
                            <th class="column col-sm-2 align-top">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="sale : ${sales}">
                            <td th:text="${sale.id}" hidden/>
                            <td th:text="${sale.saleDate}"/>
                            <td th:text="${sale.name}"/>
                            <td th:text="${sale.type}"/>
                            <td th:text="${sale.count}"/>
                            <td th:text="${sale.location}"/>
                            <td th:text="'$'+ ${sale.cost}"/>
                            <td th:text="'$'+ ${sale.salePrice}"/>
                            <td>
                                <a th:href="@{/getsale/__${sale.id}__}"
                                   class="btn btn-warning btn-sm mb-3 text-white me-3 btn-edit" data-bs-toggle="modal"
                                   data-bs-target="#editItemModal">Edit</a>
                                <a th:href="@{/getsale/__${sale.id}__}" class="btn btn-danger btn-sm mb-3 btn-delete"
                                   th:attr="data-sale-id=${sale.id}, data-sale-name=${sale.name}" data-bs-toggle="modal"
                                   data-bs-target="#deleteItemModal">Delete</a>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Chart Column -->
                <div class="col-md-4">
                    <h3>Sales Data Chart</h3>
                    <canvas id="salesChart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>

        <div th:replace="~{fragments/pagination :: paginationNav(
         page=${page},  sortField=${sortField},
         sortDirection=${sortDirection},
         keyword=${keyword},
         basePath=@{'/sales/page'} )}">
        </div>
    </div>
</main>
<div th:replace="~{fragments/modals :: formModal(
        modalId='addItemModal',
        modalTitle='Add Item',
        formAction=@{/addItem},
        formMethod='POST',
        formBodyFragmentRef=~{fragments/forms :: itemFormFields(editMode=false)}
     )}">
</div>

<div th:replace="~{fragments/modals :: formModal(
        modalId='editItemModal',
        modalTitle='Edit Item',
        formAction=@{/editItem},
        formMethod='POST',
        formBodyFragmentRef=~{fragments/forms :: itemFormFields(editMode=true)}
     )}">
</div>

<div th:replace="~{fragments/modals :: deleteConfirmModal(
        modalId='deleteItemModal',
        modalTitle='Delete Item',
        messageId='messageDeleteItem',
        formAction=@{/deleteItem},
        formInputId='formIdDeleteItem'
     )}">
</div>
</body>
</html>