<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common-head :: headContent(
                pageTitle='Sales',
                pageSpecificScripts=~{:: #page-scripts}
            )}">
</head>
<body>
<th:block id="page-scripts">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>
    <script type="module" src="/js/sale-action.js"></script>
    <script type="module" src="/js/chart.js"></script>
    <script type="module" src="/js/toggleChartColumn.js"></script>
</th:block>
<div th:replace="~{fragments/nav :: header}"></div>
<div class="title-container">
    <div class="title-logo">
        <img class="logo" th:src="@{/images/logo.png}" alt="logo"/>
    </div>
    <div class="title-text">
        <h1 th:text="${@environment.getProperty('homepage.title')}"/>
        <h1>Sales</h1>
    </div>
</div>
<div id="sortData"
     th:data-page-number="${page.number + 1}"
     th:data-page-size="${page.size}"
     th:data-keyword="${keyword}"
     th:data-base-path="@{/sales/page}"
     th:data-sort-field="${sortField}"
     th:data-sort-direction="${sortDirection}">
</div>
<main>
    <div class="container-fluid my-2">
        <div class="d-flex justify-content-center align-items-center mb-3">

                <div th:replace="~{fragments/search :: searchBar(
                     keyword=${keyword},
                     sortField=${sortField},
                     sortDirection=${sortDirection},
                     pageSize=${page != null ? page.size : pageSize},
                     formActionPath=@{'/sales/page'},
                     clearActionPath=@{'/sales/'},
                     placeholderText='Search Sales...'
                 )}">
                </div>

            <div class="ms-2">
                <button type="button" class="btn btn-primary btn-md text-white" data-bs-toggle="modal" data-bs-target="#addSaleModal">
                    Add Sale
                </button>
            </div>
            <div class="ms-2">
                <button id="toggleChartBtn" type="button" class="btn btn-info btn-md text-white">Show Chart</button>
            </div>
            <div id="chartSelect" class="ms-2 d-none d-flex align-items-center">
                <label for="chartTimeFrameSelector" class="form-label mt-1 me-2">Chart Time Frame:</label>
                <select id="chartTimeFrameSelector" class="form-select form-select-sm" style="width: auto;">
                    <option value="PAST_WEEK" selected>Past Week</option>
                    <option value="PAST_MONTH">Past Month</option>
                    <option value="PAST_3_MONTHS">Past 3 Months</option>
                    <option value="PAST_6_MONTHS">Past 6 Months</option>
                    <option value="PAST_YEAR">Past Year</option>
                </select>
            </div>

        </div>
        <div class="container-fluid my-2">
            <div class="row">
                <!-- Table Column -->
                <div id="tableColumn" class="col-md-12">
                    <table class="table table-sm table-striped table-responsive table-bordered border-dark">
                        <thead class="table-dark">
                        <tr>
                            <th>
                                <div class="d-flex justify-content-between align-items-center w-100"><span>Sale Date</span>
                                    <div class="btn-group sort-btn">
                                        <button type="button" class="btn btn-sm btn-light sort-link"
                                                th:data-column="'saleDate'"
                                                th:aria-label="'Sort by Sale Date'">
                                            <i class="fas fa-sort"></i>
                                        </button>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="d-flex justify-content-between align-items-center w-100"><span>Name</span>
                                    <div class="btn-group sort-btn">
                                        <button type="button" class="btn btn-sm btn-light sort-link"
                                                th:data-column="'name'"
                                                th:aria-label="'Sort by Name'">
                                            <i class="fas fa-sort"></i>
                                        </button>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="d-flex justify-content-between align-items-center w-100"><span>Type</span>
                                    <div class="btn-group sort-btn">
                                        <button type="button" class="btn btn-sm btn-light sort-link"
                                                th:data-column="'type'"
                                                th:aria-label="'Sort by Type'">
                                            <i class="fas fa-sort"></i>
                                        </button>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="d-flex justify-content-between align-items-center w-100"><span>Count</span>
                                    <div class="btn-group sort-btn">
                                        <button type="button" class="btn btn-sm btn-light sort-link"
                                                th:data-column="'count'"
                                                th:aria-label="'Sort by Count'">
                                            <i class="fas fa-sort"></i>
                                        </button>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="d-flex justify-content-between align-items-center w-100"><span>Location</span>
                                    <div class="btn-group sort-btn">
                                        <button type="button" class="btn btn-sm btn-light sort-link"
                                                th:data-column="'location'"
                                                th:aria-label="'Sort by Location'">
                                            <i class="fas fa-sort"></i>
                                        </button>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="d-flex justify-content-between align-items-center w-100">
                                    <span>Cost</span>
                                    <div class="btn-group sort-btn">
                                        <button type="button" class="btn btn-sm btn-light sort-link"
                                                th:data-column="'cost'"
                                                th:aria-label="'Sort by Cost'">
                                            <i class="fas fa-sort"></i>
                                        </button>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="d-flex justify-content-between align-items-center w-100"><span>Sale Price</span>
                                    <div class="btn-group sort-btn">
                                        <button type="button" class="btn btn-sm btn-light sort-link"
                                                th:data-column="'salePrice'"
                                                th:aria-label="'Sort by Sale Price'">
                                            <i class="fas fa-sort"></i>
                                        </button>
                                    </div>
                                </div>
                            </th>
                            <th class="column col-sm-2 align-top">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="sale : ${sales}">
                            <td th:text="${sale.id}" hidden/>
                            <td>
                                <span th:if="${sale.saleDate != null}"
                                      th:text="${#temporals.format(sale.saleDate, 'MM-dd-yyyy', 'UTC')}">
                                </span>
                                <span th:if="${sale.saleDate == null}">N/A</span>
                            </td>
                            <td th:text="${sale.name}"/>
                            <td th:text="${sale.type}"/>
                            <td th:text="${sale.count}"/>
                            <td th:text="${sale.location}"/>
                            <td th:text="'$' + ${#numbers.formatDecimal(sale.cost, 1, 2)}"/>
                            <td th:text="'$' + ${#numbers.formatDecimal(sale.salePrice, 1, 2)}"/>
                            <td class="align-middle">
                                <div class="row gx-2">
                                    <div class="col">
                                        <a th:href="@{/sales/getSale/__${sale.id}__}"
                                           class="btn btn-warning btn-md text-white btn-edit w-100"
                                           data-bs-toggle="modal"
                                           data-bs-target="#editSaleModal">Edit</a>
                                    </div>
                                    <div class="col">
                                        <a th:href="@{/sales/getSale/__${sale.id}__}"
                                           class="btn btn-danger btn-md text-white btn-delete w-100"
                                           th:attr="data-sale-id=${sale.id}, data-sale-name=${sale.name}, data-sale-date=${sale.saleDate}"
                                           data-bs-toggle="modal"
                                           data-bs-target="#deleteSaleModal">Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Chart Column -->
                <div id="chartColumn" class="col-md-6 d-none">
                    <div style="height: 60vh; min-height: 300px; position: relative;">
                        <canvas id="salesChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="~{fragments/pagination :: paginationNav(
         page=${page},  sortField=${sortField},
         sortDirection=${sortDirection},
         keyword=${keyword},
         basePath=@{'/sales/page'} )}">
        </div>
    </div>
</main>
<div th:replace="~{fragments/modals :: formModal(
        modalId='addSaleModal',
        modalTitle='Add Sale',
        formAction=@{/sales/addSale},
        formMethod='POST',
        formBodyFragmentRef=~{fragments/forms :: saleFormFields(editMode=false)}
     )}">
</div>

<div th:replace="~{fragments/modals :: formModal(
        modalId='editSaleModal',
        modalTitle='Edit Sale',
        formAction=@{/sales/editSale},
        formMethod='POST',
        formBodyFragmentRef=~{fragments/forms :: saleFormFields(editMode=true)}
     )}">
</div>

<div th:replace="~{fragments/modals :: deleteConfirmModal(
        modalId='deleteSaleModal',
        modalTitle='Delete Sale',
        messageId='messageDeleteSale',
        formAction=@{/sales/deleteSale},
        formInputId='formIdDeleteSale'
     )}">
</div>
</body>
</html>