<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${@environment.getProperty('homepage.title')} + ' Sales'"/>
    <!--suppress JSUnresolvedLibraryURL -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <!--suppress JSUnresolvedLibraryURL -->
    <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous">

    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="/js/sort.js"></script>
    <script type="module" src="/js/chart.js"></script>
    <script type="module" src="/js/inventory-action.js"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="title-container">
    <div class="title-logo">
        <img class="logo" th:src="@{../images/logo.png}" alt="logo"/>
    </div>
    <div class="title-text">
        <h1 th:text="${@environment.getProperty('homepage.title')}"/>
        <h1>Sales</h1>
    </div>
</div>
<div class="container my-2">
    <div class="d-flex justify-content-between">
        <div class = "col-sm-1"></div>
        <div class="w-100">
            <div th:replace="~{fragments/search :: searchBar(
                     keyword=${keyword},
                     sortField=${sortField},
                     sortDirection=${sortDirection},
                     pageSize=${page != null ? page.size : pageSize},
                     formActionPath=@{'/sales/page'},
                     clearActionPath=@{'/sales/'},
                     placeholderText='Search Sales...'
                 )}">
            </div>
        </div>
        <div class="col-sm-1 mt-2">
            <button class="btn btn-primary btn-md mb-3 btn-right" data-bs-toggle="modal"
                    data-bs-target="#addItemModal">
                Add Item
            </button>
        </div>
    </div>
    <div class="container my-2">
        <div class="row">
            <!-- Table Column -->
            <div class="col-md-8">
                <table class="table table-sm table-striped table-responsive table-bordered border-dark">
                    <thead class="table-dark">
                    <div id="sortData"
                         th:data-page-number="${page.number + 1}"
                         th:data-page-size="${page.size}"
                         th:data-keyword="${keyword}"
                         th:data-base-path="@{/sales/page}"
                         th:data-sort-field="${sortField}"
                         th:data-sort-direction="${sortDirection}" >
                    </div>
                    <tr>
                        <th>Name
                            <a href="#" class="sort-link btn btn-secondary dropdown-toggle btn-sm mb-3
                                    btn-right" data-column="name"></a></th>
                        <th>Type
                            <a href="#" class="sort-link btn btn-secondary dropdown-toggle btn-sm mb-3
                                    btn-right" data-column="type"></a></th>
                        <th>Count
                            <a href="#" class="sort-link btn btn-secondary dropdown-toggle btn-sm mb-3
                                     btn-right" data-column="count"></a></th>
                        <th>Cost Per Unit
                            <a href="#" class="sort-link btn btn-secondary dropdown-toggle btn-sm
                                     mb-3 btn-right" data-column="costPerUnit"></a></th>
                        <th class="column col-sm-2 align-top">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${items}">
                        <td th:text="${item.id}" hidden/>
                        <td th:text="${item.name}"/>
                        <td th:text="${item.type}"/>
                        <td th:text="${item.count}"/>
                        <td th:text="'$'+ ${item.costPerUnit}"/>
                        <td>
                            <a th:href="@{/getItem/__${item.id}__}"
                               class="btn btn-warning btn-sm mb-3 text-white me-3 btn-edit" data-bs-toggle="modal"
                               data-bs-target="#editItemModal">Edit</a>
                            <a th:href="@{/getItem/__${item.id}__}" class="btn btn-danger btn-sm mb-3 btn-delete"   th:attr="data-item-id=${item.id}, data-item-name=${item.name}" data-bs-toggle="modal"
                               data-bs-target="#deleteItemModal">Delete</a>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Chart Column -->
            <div class="col-md-4">
                <h3>Sales Data Chart</h3>
                <canvas id="salesChart" width="400" height="200"></canvas>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/pagination :: paginationNav(
         page=${page},  sortField=${sortField},
         sortDirection=${sortDirection},
         keyword=${keyword},
         basePath=@{'/sales/page'} )}">
    </div>
</div>
<div th:replace="~{fragments/modals :: formModal(
        modalId='addItemModal',
        modalTitle='Add Item',
        formAction=@{/addItem},
        formMethod='POST',
        formBodyFragmentRef=~{fragments/forms :: itemFormFields(editMode=false)}
     )}">
</div>

<div th:replace="~{fragments/modals :: formModal(
        modalId='editItemModal',
        modalTitle='Edit Item',
        formAction=@{/editItem},
        formMethod='POST',
        formBodyFragmentRef=~{fragments/forms :: itemFormFields(editMode=true)}
     )}">
</div>

<div th:replace="~{fragments/modals :: deleteConfirmModal(
        modalId='deleteItemModal',
        modalTitle='Delete Item',
        messageId='messageDeleteItem',
        formAction=@{/deleteItem},
        formMethod='POST',
        formInputId='formIdDeleteItem'
     )}">
</div>
</body>
</html>